*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body{
    background: linear-gradient(120deg, #9e999e, rgb(214, 79, 214));
    
}

.linea{
    padding: 32px;
    background-color: white;
    
}
.menu_container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.h1{
    font-size: 30px;
    color: hsl(200, 18%, 3%);
    font-weight: 800;
    text-transform: uppercase;
}
.menu_container .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
}
.menu_container .navbar ul li a:hover{
    color: #15A4F9;
}
#menu{
    display: none;
}






